/* .container {
  background-color: blue;
} */

.App {
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}
.container-left {
  width: 50%;
  padding: 2rem;
  background-color: #181515;
}

.container-left h1,
p {
  color: #fff;
}

.container-right {
  width: 50%;
  padding: 2rem;
  background-color: aliceblue;
}
